.Contact{
     display: grid;
     place-items: center;
}

.contact-container{
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.Form{
     display: flex;
     flex-direction: column;
     gap: 0.3rem;
}
.form-control{
     border: 2px solid transparent;
}
#Contact-btn{
     cursor: pointer;
     background-color: blue;
}
#Contact-btn:hover{
     background-color: #0000ffd4;
}
#Contact-btn a{
     color: #fff;
}

input{
     padding-left: 5px;
}