.Contact{
     display: grid;
     place-items: center;
}
.card{
     width: 18rem;
}
.card-container{
     max-width: 40rem;
}
.icon{
     padding-right: 8px;
}
.whatsup{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     z-index: 100;
     width: 20rem;
     padding: 20px;
     border-radius: 5px;
     background-color: #157347;
}
.show_whatsapp{
     display: none;
}
.whatsupform{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 0.5rem;
}
.send{
     border: none;
     background-color: #1b5a3d;
}
@media screen and (max-width:786px) {
     .card{
          width: 13rem;
     }
}