@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Alfa+Slab+One&family=BhuTuka+Expanded+One&family=Caveat&family=Cinzel&family=Comforter+Brush&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Indie+Flower&family=Kanit:wght@100;400&family=League+Gothic&family=Lobster&family=Permanent+Marker&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300&family=Shadows+Into+Light&family=Source+Code+Pro:wght@200&family=Syne+Mono&display=swap');


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: 0;
     outline: 0;
     text-decoration: none;
     transition: all 0.3s linear;
}


html{
     scroll-behavior: smooth;
}

::-webkit-scrollbar{
     display: none;
}

body{
     /* background-color: #e5f3ff; */
     font-family: 'Poppins', sans-serif;
}

/* ========== GENERAL STYLES ==========*/
.container{
     height: 100vh;
}

h1{
     
     font-size: 3rem;
}


a{
     text-decoration: none;
}


.course-title{
     text-align: center;
     padding: 20px;
     padding-top: 5rem;
}



@media screen and (max-width:425px) {
     .course-title{
         font-size: 2.5rem;
     }
}     

li{
     word-wrap: break-word;
}